﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Hoşgeldin Nisa :)
        <small>Seni tekrar görmek, güzel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Ana Sayfa</a></li>
        <li><a href="#">Görünüm</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="callout callout-info">
        <h4>Mutlu olmamak için bir neden yok!</h4>
        <p> Mutlu bir hayat yaşamak istiyorsanız hayatınızı bir amaca bağlayın. Kişilere ya da eşyalara değil. 
        ---- Albert Einstein

</p>
    </div>
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Bildirim</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            Yeni yazılarını bekliyoruz
        </div><!-- /.box-body -->
       
    </div><!-- /.box -->
</section><!-- /.content -->

